# Configuración de API Keys para Donna AI
GOOGLE_CLOUD_PROJECT=""
GOOGLE_CLOUD_LOCATION="global"
GEMINI_API_KEY=""
GOOGLE_SERVICE_ACCOUNT_JSON=""
GROQ_API_KEY=""

# ClickUp API Configuration (Introduce tu Personal API Token de ClickUp ej. pk_...)
CLICKUP_API_KEY=""
CLICKUP_API_TOKEN=""

# ShareFile API Configuration
SHAREFILE_ACCESS_TOKEN=""
SHAREFILE_API_BASE_URL="https://morenamiabeautygroup.sf-api.com/sf/v3/"

# Zendesk Configuration
ZENDESK_SUBDOMAIN="vipcosmetics"
ZENDESK_EMAIL="customerservice@emacaribbean.com"
ZENDESK_API_TOKEN=""

# Supabase Configuration
SUPABASE_URL="https://wvqpouovlkjarasmoexa.supabase.co"
SUPABASE_KEY=""
NEXT_PUBLIC_SUPABASE_URL="https://wvqpouovlkjarasmoexa.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""