# Configuración de API Keys para Donna AI
GROQ_API_KEY=""
CLICKUP_API_KEY=""
SHAREFILE_ACCESS_TOKEN=""
SHAREFILE_API_BASE_URL="
ZENDESK_SUBDOMAIN=""
ZENDESK_EMAIL=""
ZENDESK_API_TOKEN=""
SUPABASE_URL=""
SUPABASE_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
